{% extends 'base.html' %}

{% block content %}

<div class="content-heading">
    <p>#{{ object.id }} - {{ object.name }}</p>
</div>

<img src="/media/{{ object.image }}">

<table width="500">
    <tr>
        <td>
            <div class="content-heading">
                <p>Description</p>
            </div>
            <div class="content-text">
                {{ object.description }}
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="content-heading">
                <p>Statistics</p>
            </div>
            <div class="content-text">
            Height: {{ object.height }}<br>
            Weight: {{ object.weight }}<br>
            Category: {{ object.category }}<br>
            Overgrow: {{ object.overgrow }}<br>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="content-heading">
                <p>Attributes</p>
            </div>
            <div class="content-text">
            HP: {{ object.hp }}<br>
            Attack: {{ object.attack }}<br>
            Defense: {{ object.defense }}<br>
            Spec Attack: {{ object.specattack }}<br>
            Spec Defense: {{ object.specdefense }}<br>
            Speed: {{ object.speed }}<br>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="content-heading">
                <p>Type</p>
            </div>
            <div class="content-text">
            {{ object.type1 }}<br>
            {% if object.type2 %}
            {{ object.type2 }}<br>
            {% endif %}
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="content-heading">
                <p>Weakness</p>
            </div>
            <div class="content-text">
            {{ object.weakness1 }}<br>
            {% if object.weakness2 %}
            {{ object.weakness2}}<br>
            {% endif %}
            {% if object.weakness3 %}
            {{ object.weakness3 }}<br>
            {% endif %}
            {% if object.weakness4 %}
            {{ object.weakness4 }}<br>
            {% endif %}
            {% if object.weakness5 %}
            {{ object.weakness5 }}<br>
            {% endif %}
            {% if object.weakness6 %}
            {{ object.weakness6 }}<br>
            {% endif %}
            {% if object.weakness7 %}
            {{ object.weakness7 }}<br>
            {% endif %}
            </div>
        </td>
    </tr>
</table>
{% endblock %}