{% extends 'base.html' %}

{% block content %}

<div class="list-heading">
    <p>Pokemon List</p>
</div>

<table class="list-table">
    <tr>
        <td>Image</td>
        <td>ID</td>
        <td>Name</td>
        <td>Type</td>
        <td></td>
    </tr>
    {% for poke in pokemon %}
    <tr>
        <td><img src="media/{{ poke.icon }}"></td>
        <td>{{ poke.id }}</td>
        <td><a href="{% url 'pokemon_detail' poke.id %}">{{ poke.name }}</a></td>
        <td>{{ poke.type1 }}</td>
        <td>{{ poke.type2 }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}