{% extends 'base.html' %}

{% block content %}

<div class="list-heading">
    <p>Pokemon List</p>
</div>

<div class="list-items">
<table>
    <tr>
        <td>Image</td>
        <td>ID</td>
        <td>Name</td>
        <td>Type</td>
        <td></td>
    </tr>
    {% for poke in pokemon %}
    <tr>
        <td><img src="media/{{ poke.icon }}"></td>
        <td>{{ poke.id }}</td>
        <td>{{ poke.name }}</td>
        <td>{{ poke.type1 }}</td>
        <td>{{ poke.type2 }}</td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}